.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--skills);
  padding: 30rem 40rem;
  color: var(--best);

  &__1 {
    display: flex;
    flex-direction: column;

    &__a {
      // display: flex;
      &--logo {
        display: flex;
        justify-content: center;
        padding-bottom: 20rem;
        align-items: center;
        // margin-left: 0;

        p {
          font-family: "Rasa Bold";
          font-size: 20rem;
          padding-left: 20rem;
        }
      }

      .input__but {
        padding: 0 20rem;
        input {
          font-family: "Inter Medium";
          color: var(--skills);
          border-radius: 12rem;
          height: 40rem;
          max-width: max-content;
        }

        ::placeholder {
          font-family: "Inter Medium";
          color: var(--skills);
          opacity: 1;
          font-size: 12rem;
        }

        button {
          border-radius: 5rem;
          border: 2rem solid var(--skills);
          background-color: var(--elated);
          color: var(--skills);
          font-family: "Inter Bold";
          font-size: 12rem;
          padding: 5rem 10rem;
          transform: translate(135rem, -34rem);
          box-shadow: 2rem 2rem var(--skills);
        }
      }
    }

    &--moreInfo {
      display: flex;
      //flex-direction: column;
      justify-content: space-around;

      &--1 {
        p {
          font-family: "Inter Bold";
          padding-bottom: 7rem;
        }

        h4 {
          font-family: "Inter Medium";
          padding-bottom: 5rem;
        }

        .moreInfo--p {
          margin-top: 20rem;
        }
      }
    }
  }

  &__2 {
    padding-top: 50rem;

    p {
      font-family: "Inter Medium";
      font-size: 12rem;
      padding-left: 30rem;
      padding-bottom: 30rem;
    }
  }

  @include respond-to("small") {
    padding: 120rem 180rem;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .footer__1 {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;

      &__a {
        display: flex;
        flex-direction: column;

        &--logo {
          display: flex;
          justify-content: flex-start;
          // align-items: center;

          p {
            font-size: 40rem;
          }
        }

        .input__but {
          padding: 0 20rem;

          input {
            border-radius: 18rem;
            height: 55rem;
            max-width: 400rem;
            padding: 35rem 80rem;
          }

          ::placeholder {
            font-size: 15rem;
          }

          button {
            border-radius: 10rem;
            font-size: 15rem;
            padding: 15rem 20rem;
            transform: translate(-136rem, 0rem);
            box-shadow: 4rem 3rem var(--skills);
          }
        }
      }

      &--moreInfo {
        display: flex;
        flex-direction: comp;
        // align-items: baseline;
        // padding-left: 100rem;
        // gap: 50rem;
      }
    }

    .footer__2 {
      p {
        padding: 30rem 350rem;
        font-size: 20rem;
      }
    }
  }
}
