.footer {
  display: flex;
  background-color: var(--skills);
  padding: 30rem 40rem;
  color: var(--best);

  &__1 {
    display: flex;
    flex-direction: column;

    &__a {
      // display: flex;
      &--logo {
        display: flex;
        justify-content: center;
        padding-bottom: 20rem;
        align-items: center;
        // margin-left: 0;

        p {
          font-family: "Rasa Bold";
          font-size: 20rem;
          padding-left: 20rem;
        }
      }

      .input__but {
        padding: 0 20rem;
        input {
          font-family: "Inter Medium";
          color: var(--skills);
          border-radius: 12rem;
          height: 40rem;
          max-width: max-content;
        }

        ::placeholder {
          font-family: "Inter Medium";
          color: var(--skills);
          opacity: 1;
          font-size: 12rem;
        }

        button {
          border-radius: 5rem;
          border: 2rem solid var(--skills);
          background-color: var(--elated);
          color: var(--skills);
          font-family: "Inter Bold";
          font-size: 12rem;
          padding: 5rem 10rem;
          transform: translate(135rem, -33rem);
        }
      }
    }

    &--moreInfo {
      display: flex;
      justify-content: space-around;

      &--1 {
        p {
          font-family: "Inter Bold";
          padding-bottom: 7rem;
        }

        h4 {
          font-family: "Inter Medium";
          padding-bottom: 5rem;
        }

        .moreInfo--p {
          margin-top: 20rem;
        }
      }
    }
  }

  &__2 {
    padding-top: 50rem;
    margin: 0;
    p {
      font-family: "Inter Medium";
      font-size: 15rem;
    }
  }

  @include respond-to("small") {
  }
}
