.hero {
  margin-top: 80rem;
  margin-left: 20rem;

  &__focalText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__h2 {
      background-color: var(--elated);
      font-family: "Inter SemiBold";
      border-radius: 15rem;
      padding: 10rem 5rem;
      max-width: max-content;

      font-size: 10rem;
    }

    &__p {
      padding: 30rem 5rem;
      font-family: "Rasa Bold";
      font-size: 50rem;

      span {
        color: var(--light);
      }
    }
    &__p2 {
      font-family: "inter Medium";
      font-size: 16rem;
      color: var(--joy);
    }

    .but {
      margin-top: 40rem;

      .but1 {
        border: 2rem solid var(--skills);
        border-radius: 5rem;
        box-shadow: 2rem 2rem 2rem var(--skills);
        background-color: var(--excited);
        padding: 10rem 20rem;
      }
      .but2 {
        border: 2rem solid var(--skills);
        border-radius: 5rem;
        box-shadow: 2rem 2rem 2rem var(--skills);
        background-color: var(--elated);
        margin-left: 40rem;
        padding: 10rem 20rem;
      }
    }
    .stats {
      margin-top: 30rem;
      display: flex;
      justify-content: space-between;

      &__1 {
        display: flex;
        gap: 5rem;
        max-width: fit-content;

        &__a {
          font-family: "Rasa Bold";
          font-size: 30rem;
        }

        &__b {
          font-family: "Inter Medium";
          color: var(--joy);
          font-size: 12rem;
        }
      }
    }
  }

  // @include respond-to("small") {
  //   .hero {
  //     margin-top: 80rem;
  //     margin-left: 180rem;
  //     display: flex;
  //     flex-direction: column;

  //     &__focalText {
  //       display: flex;
  //       flex-direction: column;
  //       max-width: max-content;

  //       &__h2 {
  //         background-color: var(--elated);
  //         font-family: "Inter SemiBold";
  //         border-radius: 15rem;
  //         padding: 7rem 7rem;
  //       }

  // //&__p2a {
  //   display: unset;
  // }
  //     }
  //   }
  // }
}
