.nav {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: repeat(2, min-content);
  margin-top: 30rem;

  &__lblock {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    padding: 12rem;
  }

  &__FinLogo {
    display: none;
  }

  .but {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 20rem;

    background-color: var(--elated);
    font-family: "Inter Bold";
    color: var(--skills);
    box-shadow: 2rem 2rem var(--skills);
    margin-right: 20rem;
    border-radius: 5rem;
    padding: 10rem 10rem;
    font-size: 12rem;
  }

  &__dropl {
    grid-row: 2/3;
    grid-column: 1/-1;

    display: none;
  }

  &__logo {
    font-family: "rasa Bold";
    color: var(--light);
    font-size: 20rem;
  }

  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__toggle:checked ~ &__dropl {
    display: block;

    li {
      padding: 15rem 10rem;
      border-bottom: 1px var(--skills) solid;
    }
  }

  @include respond-to("small") {
    // grid-template-columns: 1fr min-content minmax(590rem auto) min-content 1fr;
    grid-template-columns: 0.5fr min-content 2.5fr 0.5fr 0.5fr;

    &__lblock {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    .but {
      grid-row: 1/2;
      grid-column: 4/5;
    }

    &__dropl {
      grid-row: 1/2;
      grid-column: 3/4;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-family: "Rasa Regular";
      color: var(--skills);
      font-size: 20rem;
    }
    &__FinLogo {
      display: unset;
    }

    &__hamburger {
      display: none;
    }
  }
}
