.nav {
  display: grid;
  grid-template-columns: 0.5fr min-content max-content fit-content 0.5fr;
  grid-template-rows: repeat(2, min-content);

  &__lblock {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    margin-left: 15rem;
  }

  &__FinLogo {
    display: none;
  }

  .but {
    grid-row: 1/2;
    grid-column: 4/5;
    background-color: var(--elated);
    font-family: "Inter Bold";
    border: 2rem solid var(--skills);
    box-shadow: 2rem 2rem var(--skills);
    border-radius: 5rem;
    margin: 10rem 20rem;
    font-size: 9rem;
  }

  &__dropl {
    grid-row: 2/3;
    grid-column: 1/5; //1/-1 not working here
    display: none;
  }

  &__logo {
    font-family: "rasa Bold";
    color: var(--light);
    font-size: 20rem;
  }

  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__toggle:checked ~ &__dropl {
    display: block;

    li {
      padding: 15rem 10rem;
      border-bottom: 2px var(--skills) solid;
    }
  }

  @include respond-to("small") {
    // grid-template-columns: 1fr min-content minmax(590rem auto) min-content 1fr;
    grid-template-columns: 0.5fr min-content 3fr max-content 0.5fr;

    &__lblock {
      grid-column: 2/3;
    }

    .but {
      border-radius: 9rem;
      padding: 15rem 25rem;
      font-size: 20rem;
      box-shadow: 3rem 4rem var(--skills);
      margin: 0;
    }

    &__dropdown--Home {
      font-family: "Rasa Bold";
    }

    &__logo {
      font-size: 25rem;
      margin-left: 7rem;
    }

    &__dropl {
      grid-row: 1/2;
      grid-column: 3/4;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-family: "Rasa Regular";
      color: var(--skills);
      font-size: 25rem;
    }

    &__FinLogo {
      display: unset;
      margin-right: 10rem;
    }

    &__hamburger {
      display: none;
    }
  }
}
