.review__all {
  //margin: 40rem 20rem;

  &--h {
    font-family: "Rasa Bold";
    font-size: 20rem;
    padding: 10rem 40rem;
  }

  &--p {
    font-family: "Inter Medium";
    color: var(--joy);
    padding: 2rem 40rem;
    font-size: 12rem;
    //text-align: center;
  }
}

.review__all--cards {
  border: 2rem var(--skills) solid;
  box-shadow: 2rem 2rem var(--skills);
  margin: 20rem 40rem;
  padding: 5rem 0 10rem 10rem;
  flex-direction: row-reverse;
  border-radius: 7rem;

  h2 {
    font-family: "Inter SemiBold";
    columns: var(--light);
  }

  p {
    font-family: "Inter Medium";
    color: var(--skills);
    padding-top: 4rem;
    padding-bottom: 6rem;
    font-size: 10rem;
  }

  &--color {
    border: 2rem var(--skills) solid;
    box-shadow: 2rem 2rem var(--skills);
    margin: 20rem 40rem;
    padding: 5rem 0 10rem 10rem;
    background-color: var(--excited);
    border-radius: 7rem;

    h2 {
      font-family: "Inter SemiBold";
      columns: var(--light);
    }

    p {
      font-family: "Inter Medium";
      color: var(--skills);
      padding-top: 4rem;
      padding-bottom: 6rem;
      font-size: 10rem;
    }
  }
}
@include respond-to("small") {
  .review__all {
    &--h {
      font-size: 50rem;
    }

    &--p {
      font-size: 15rem;
    }

    &--child {
      display: flex;

      &--cards {
      }

      &--color {
        box-shadow: 2rem 2rem var(--skills);
        margin: 20rem 40rem;
        padding: 5rem 0 20rem 20rem;
        border-radius: 10rem;
      }
    }

    .review__all--cards {
      border: 2rem var(--skills) solid;
      box-shadow: 2rem 2rem var(--skills);
      margin: 20rem 40rem;
      padding: 5rem 0 10rem 10rem;
      flex-direction: row-reverse;
      border-radius: 7rem;
    }
  }
}
