.virtualcard {
  display: flex;
  flex-direction: column;
  margin: 40rem 0rem;
  background-color: var(--skills);
  color: var(--best);

  &__child1 {
    margin: 40rem 40rem;
    h1 {
      font-family: "Rasa Bold";
      font-size: 25rem;
      color: var(--best);
    }

    p {
      font-family: "Inter Medium";
      font-size: 12rem;
      margin: 20rem 0;
    }

    button {
      background-color: var(--elated);
      font-family: "Inter Bold";
      border-radius: 8rem;
      padding: 8rem 15rem;
      margin: 10rem 0;
    }
  }

  &__child2 {
    padding: 10rem 30rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 30rem;
  }
}
